.App {
  text-align: center;
}

.grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .9rem;
}

.heading{
  letter-spacing: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

.sign {
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 23px;
  font-size: 1.5rem;
  background: #415a77;
  color:#778da9
}
.sign:hover {
  background-color:#023047;
  color: #8ecae6;
  font-size: 1.6rem;
}

.timeframe{
  width:21rem;
  height: 3rem;
  border-radius: 12px;
  margin: 10px 10px 10px;
  background: #415a77;
  color:#778da9;
  font-size: 1.5rem;
}
.timeframe:hover{
  background-color:#023047;
  color: #8ecae6;
  font-size: 1.6rem;
}

.restart{
  margin-top: 20px;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
  background-color: #f38375;
}

.restart:hover{
  background-color: #ef233c;
  color: #000;
}


.name-input{
  width: 50%;
  height: 3rem;
  font-size:2.9rem;
  border-radius: 13px;
}


.name{
  font-size: 1.8rem;
  color: #023047;
}

.container{
  margin-top: 9rem;
}
h2 , h3 {
  color: #023047;
}
p{
  color:#2d6a4f;
  font-family: 'Merriweather', serif;
}

small{
  color: #ef233c;
  font-family: 'Merriweather', serif;
}


@media only screen and (max-width: 600px){
	.grid {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
  }
}
